doctype html
html(lang="en")
  include head.pug
  include widgets.pug
  body.js-stop-transition
    h1 Rewired's Friends

    .link-list
      +link-button('LittleYe233', 'https://blog.tamako.work')
      +link-button('Rain Chen', 'https://congjyu.github.io')

    footer
      p
        a.text-link(href="mailto:n@hopp.top?subject=[Website%20Submission]%20I%20want%20to%20be%20your%20friend")
            | I want to be rewired's friend.
      p rewired © 2023
      p
        a(href="https://icp.gov.moe/?keyword=20226464", target="_blank") 萌 ICP · 20226464 号

    script(src='script.js')