doctype html
html(lang="en")
  include head.pug
  include widgets.pug
  body.js-stop-transition
    h1 __rewired__

    .link-list
      +link-button('GitHub', 'https://github.com/rewired-gh')
      +link-button('Telegram Channel', 'https://t.me/luckychankira')
      +link-button('Blog', 'https://blog.hopp.top')
      +link-button('Email', 'mailto:n@hopp.top')
      +link-button('Friends', './friends.pug')
    
    footer
      p
      p rewired © 2022
      p
        a(href="https://icp.gov.moe/?keyword=20226464", target="_blank") 萌 ICP · 20226464 号
    include script.js