doctype html
html(lang="en")
  include head.pug
  include widgets.pug
  body
    h1 __rewired__

    .link-list
      +link-button('GitHub', 'https://github.com/rewired-gh')
      +link-button('Telegram Channel', 'https://t.me/luckychankira')
      +link-button('Email', 'mailto:n@hopp.top')
    
    footer
      p rewired © 2022